
@model IEnumerable<ENB.Logistics.Mvc.Models.DisplayPhoneNumber>

@{

    ViewBag.Title = ViewBag.Message + " Phone numbers";}

<!DOCTYPE html>
<style type="text/css">


    .TFtable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        display: table;
        width: 100%;
        border-collapse: separate;
        border: solid 1px #4e95f4;
        background-color: white;
    }


        .TFtable th {
            background-color: #A7C942;
        }

        .TFtable th, td {
            padding: 3px 7px 2px;
            border: #98BF21 1px solid;
            text-align: center;
        }
        /* provide some minimal visual accomodation for IE8 and below */
        .TFtable tr {
            background: #EAF2D3;
        }
            /*  Define the background color for all the ODD background rows  */
            .TFtable tr:nth-child(odd) {
                background: #EAF2D3;
            }
            /*  Define the background color for all the EVEN background rows  */
            .TFtable tr:nth-child(even) {
                background: #FFFFFF;
            }
</style>


<div class="alert alert-dismissible alert-success">
    <h2><strong>Phone Numbers @ViewBag.Message </strong></h2>
</div>
<br />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @if (Model.Any())
    {
        <table class="TFtable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id, ViewBag.OperatorId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id, ViewBag.OperatorId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id, ViewBag.OperatorId })
                    </td>
                </tr>
            }

        </table>
        <br />
    }
    else
    {
        <p>No phone numbers found.</p>
    }
    <p>
        <b>  
            <br />
            <input type="button" class="btn btn-info" value="Create New" onclick="location.href='@Url.Action("Create", "PhoneNumbers", new { ViewBag.OperatorId })'" />
            <input type="button" class="btn btn-info" value="Back to start List" onclick="location.href='@Url.Action("Index", "Operator")'" />
        </b>
    </p>

</body>
</html>
